<launch>
   <remap from="scan" to="/scan"/>
   <remap from="obstacles_cloud" to="/obstacles_cloud"/>
   <remap from="ground_cloud" to="/ground_cloud"/>
   <remap from="map" to="/map"/>
   <remap from="odom" to="/rtabmap/odom"/>
   <remap from="move_base_simple/goal" to="/move_base_simple/goal"/>
   <remap from="initial_pose" to="/initial_pose"/>
   <remap from="cmd_vel" to="/cmd_vel"/>

   <arg name="observation_sources" value="laser_scan_sensor point_cloud_sensorA point_cloud_sensorB"/>   

   <include file="$(find mango_navigation)/launch/move_basic.launch"/>
   
   <param name="cmd_vel/abtr_priority" value="10"/>
</launch>